
h2 {
    color: red;
}

.title {
    color: grey;
}

h2.title {
    color: blueviolet;
}

p.title {
    color: cyan;
    background: #444;
    padding: 10px;
}

#mainTitle {
    color: salmon !important;   
}

.text-red {
    color: rgb(150, 14, 14);
}

.text-green {
    color: rgb(171, 253, 48);
}

.lst-none {
    list-style: none;
}

.lst-disc {
    list-style-type: disc;
}

/* FRONTEND */
.frontend {
    color: crimson;
}

/* .frontend li {
    color: darkcyan;
} */


.frontend > li {
    color: darkcyan;
}

.frontend > li:last-child,
.frontend > li:first-child {
    color: seagreen;
}

.frontend > li:nth-child(2) {
    color: tomato;
}