:root {
    font-size: 15px;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

header, footer {
    height: 300px;
    width: 100%;
    /* background: #b1d747; */
    /* background-image: -webkit-linear-gradient(); */
    /* background-image: -moz-linear-gradient(); */
    /* background-image: -o-linear-gradient(); */
    /* background-image: linear-gradient(to right, #b1d747 34%, brown 34%, brown 67%, #384416 67%); */
    background-image: radial-gradient(closest-corner, #b1d747 34%, brown, #384416);

}


.services > article {
    background: #04c1d1;
    width: 32.5%;
    height: 400px;
}

.content > section {
    background: #e6eef0;
    width: 24.5%;
    height: 200px;
}

.for-print {
    display: none;
}

.transform-ex {
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.transform-ex:hover {
    transform: translate(0px, -10px);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.55);
    cursor: pointer;


    /* transform: rotate(180deg); */
}

/* 
    UTILS
*/
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-row {
    flex-direction: row;
}
.justify-space-between {
    justify-content: space-between;
}

.m-1 {
    margin: 1rem;
} 
.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}



/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
    .services,
    .content {
        flex-direction: column;
    }
    .services > article {
        width: 98%;
        height: 300px;
        margin-bottom: 1rem;
        align-self: center;
    }
    .content > section {
        width: 98%;
        align-self: center;
        margin-bottom: 1rem;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .services {
        flex-direction: column;
    }
    .services > article {
        width: 100%;
        height: 200px;
    }
    .content {
        flex-direction: row;
    }
    .content > section {
        width: 49.5%;
    }

  }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .services {
        flex-direction: column;
    }
    .services > article {
        width: 100%;
        height: 200px;
    }

  }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .services {
        flex-direction: row;
    }

    .services > article {
        width: 32.5%;
        height: 400px;
    }
    
    .content > section {
        width: 24.5%;
    }
 }

 @media print {
    .container {
        display: none;
    }

    .for-print {
        display: block;
    }
 }